/* LEFT SIDE */
.drum__pad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.buttons {
  width: 100px;
  height: 80px;
  margin: 5px;
  padding: 0;
  box-shadow: 1px 2px 3px #000000;
  background-color: grey;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: all 0.1s linear;
}
.press {
  height: 77px;
  margin-top: 10px !important;
  margin-bottom: 0;
  background-color: yellow;
}

